/* Helpers that should be moved to a central file once used elsewhere  */
.flex_center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_spread {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
