.container {
  display: flex;
  width: 100%;
  font-size: 20px;

  a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
  }
  a:visited {
    color: inherit;
  }
}

.list {
  ul {
    padding: 0.5rem 0;
    list-style-type: none;
  }
  li {
    padding: 1rem;
    display: inline;
    margin: 0 .5rem;
  }
}

.right {
  position: fixed;
  right: 0;
}